.menu {
  height: 100vh;
  position: fixed;
}

.menu__items {
  position: static;
}

.navGraphReferral-container {
  height: 400px;
}

.graphReferral {
  flex-direction: row;
  flex: 1;
  margin-left: 12.5em;
}

.graph {
  width: 40%;
}

.referral {
  flex: 1;
}

.table {
  margin-left: 14em;
}
