.menu {
  height: 100vh;
}

.navGraphReferral-container {
  height: 400px;
}

.graphReferral {
  flex-direction: row;
  flex: 1;
}

.graph {
  width: 40%;
}

.referral {
  flex: 1;
  height: 100%;
}

.table {
  margin-left: 14em;
}
