.menu {
  height: calc(100vh - var(--top-nav-height) - 2 * 1.5em);
  position: fixed;
}

.menu__items {
  position: static;
}

.graphReferral {
  flex-direction: row;
  flex: 1;
  margin-left: calc(var(--sidebar) + 1.5em);
  align-items: center;
}

.graph {
  width: 40%;
}

.referral {
  flex: 1;
}

.referral__form {
  width: 60%;
}

.referral__image {
  width: 40%;
}

.table-container {
  background: white;
  margin-left: calc(var(--sidebar) + 3em);
}

.table th {
  top: var(
    --top-nav-height
  ); /* Don't forget this, required for the stickiness */
}
