:root {
  --sidebar: 12.5em;
  --top-nav-height: 66px;
}

body {
  font-family: 'Cabin', sans-serif;
  background-color: #e5e5e5;
  box-sizing: border-box;
}

* {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

.top-nav {
  height: var(--top-nav-height);
  background-color: white;
  display: flex;
  position: sticky;
  align-items: center;
  padding: 0 1.5em;
  overflow: hidden;
  top: 0;
}

.searchUser {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.search,
.user {
  display: none;
}

.graph,
.referral,
.menu,
.top-menu {
  border: 0;
  border-radius: 10px;
}

.top-menu {
  display: none;
  position: sticky;
  top: var(--top-nav-height);
  height: 0px;
  background: #4a35c9;
  transition: height 0.2s ease-out;
}

.top-menu__items {
  display: flex;
  align-items: center;
}

.top-menu__items img {
  height: 18px;
}

.navGraphReferral-container {
  display: flex;
}

.menu {
  width: var(--sidebar);
  background: #4a35c9;
  display: none;
  margin: 1.5em;
}

.menu a,
.menu p {
  color: white;
  font: 700;
  text-decoration: underline;
  text-decoration-color: transparent;
}

.menu a:hover {
  transition: all 200ms ease-in;
  text-decoration-color: white;
}

.graphReferral {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 1.5em;
  justify-content: space-between;
}

.graph {
  background-color: white;
  padding: 24px;
}

.graph__header {
  display: flex;
  align-items: center;
  border-bottom: solid 1px #e0e6ed;
}

.graph__title {
  flex: 1;
}

.filter {
  border: solid 1px #e0e6ed;
  border-radius: 5px;
  padding: 0.5em 1em;
}

.graph__statSummary {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
}

.graph__statNumbers {
  display: flex;
  justify-content: end;
  align-items: center;
}

.green p {
  color: #3e8671;
  font-size: 18px;
  margin-right: 1em;
}

.green small {
  color: #61b984;
  font-size: 14px;
}

.red p {
  color: #863e3e;
  font-size: 18px;
  margin-right: 1em;
}

.red small {
  color: #b96161;
  font-size: 14px;
}

.graph__graph {
  border-bottom: solid 1px #e0e6ed;
  border-left: solid 1px #e0e6ed;
}

.graph__dates span {
  position: relative;
  left: -24px;
}

.graph__dates {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.graph__dates li {
  font-size: 12px;
  color: #595959;
}

.referral {
  display: flex;
  background-color: #f1f1fd;
  align-items: center;
}

.referral__header {
  font-size: 1.5em;
  font-weight: 700px;
}

.referral__form {
  padding: 37px 50px;
}

.referral__email-form {
  display: flex;
}

.referral__email-input {
  flex: 1;
  width: 100%;
}

.referral__body {
  color: #4f4f4f;
}

.referral__email-input {
  padding: 0.75em 0 0.75em 1em;
  flex: 1;
}

.referral__email-button {
  background-color: #4a35c9;
  border: 0;
  border-radius: 5px;
  color: white;
  padding: 0.75em 1.875em;
  width: 93px;
}

.referral__terms {
  color: #4f4f4f;
}

.referral__image {
  width: 25%;
  height: 100%;
  background-size: cover;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
}

.table {
  border: 1px solid #c0c0c0;
  border-collapse: collapse;
  padding: 5px;
}

.table th {
  border: 1px solid #c0c0c0;
  padding: 5px;
  background: #f0f0f0;
  position: sticky;
  top: 0px; /* Don't forget this, required for the stickiness */
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
}

th {
}

.table td {
  border: 1px solid #c0c0c0;
  padding: 5px;
}
