body {
  font-family: 'Cabin', sans-serif;
}

* {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

.navGraphReferral-container {
  display: flex;
  max-height: 50vh;
}

.menu {
  width: 12.5em;
  background: #4a35c9;
}

.menu a,
.menu p {
  color: white;
  font: 700;
  text-decoration: underline;
  text-decoration-color: transparent;
}

.menu a:hover {
  transition: all 200ms ease-in;
  text-decoration-color: white;
}

.graphReferral {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.graph {
  background-color: #e7fff8;
  padding: 24px;
}

.graph__header {
  display: flex;
  align-items: center;
  border-bottom: solid 1px #e0e6ed;
}

.graph__title {
  flex: 1;
}

.filter {
  border: solid 1px #e0e6ed;
  border-radius: 5px;
  padding: 0.5em 1em;
}

.graph__statSummary {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
}

.graph__statNumbers {
  display: flex;
  justify-content: end;
  align-items: center;
}

.green p {
  color: #3e8671;
  font-size: 18px;
  margin-right: 1em;
}

.green small {
  color: #61b984;
  font-size: 14px;
}

.referral {
  background-color: #f1f1fd;
}

.table {
  border: 1px solid #c0c0c0;
  border-collapse: collapse;
  padding: 5px;
}

.table th {
  border: 1px solid #c0c0c0;
  padding: 5px;
  background: #f0f0f0;
}

.table td {
  border: 1px solid #c0c0c0;
  padding: 5px;
}
