.top-nav {
  padding: 0 74px;
}

.company-logo {
  width: var(--sidebar);
}

.searchUser {
  justify-content: space-between;
}

.search {
  display: block;
}

.user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-self: flex-end;
}

.hamburger {
  display: none;
}

.search input[type='text'] {
  background-color: #f3f3f4;
}

.graphReferral {
  flex-direction: column;
  flex: 1;
  margin: 1.5em 0;
}

.referral__form {
  padding: 96px 50px;
}

.menu {
  display: flex;
  flex-direction: column;
  z-index: -1;
  justify-content: space-between;
}

.top-menu--visible {
  display: flex;
  position: sticky;
}

.top-menu--accordian {
  height: 100px;
}

.top-menu--visible a {
  color: white;
}

.menu__items {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0.5em;
  gap: 1.5em;
  padding-top: 1.5em;
}

.menu__link-container {
  display: flex;
  padding-left: 3.125em;
}

.reports-generated {
  height: 123px;
  background-color: #190781;
  position: sticky;
  margin: 0 1em 1em;
  border: 0;
  border-radius: 5px;
  padding: 1em;
}

.reports-generated h1 {
  font-weight: 700;
  font-size: 1em;
  color: white;
}

.reports-generated p {
  font-weight: 400;
  font-size: 0.75em;
  color: #bfb4f9;
}

.bot-sidebar-marker {
  position: absolute;
  bottom: 0;
  right: 0;
}

.table {
  margin-top: 100px;
}

.table th {
  top: 100px; /* Don't forget this, required for the stickiness */
}
