:root {
  --scrollPos: 0px;
}

.navGraphReferral-container {
  height: 800px;
}

.graphReferral {
  flex-direction: column;
  flex: 1;
}

.graph {
  height: 100%;
}

.referral {
  height: 100%;
}

.menu {
  display: flex;
  flex-direction: column;
  height: calc(100% - var(--scrollPos));
  align-self: flex-end;
}

.menu__items {
  flex: 1;
}

.reports-generated {
  width: 158px;
  height: 123px;
  background-color: #190781;
}
