.top-nav {
  padding: 0 4.625em;
}

.company-logo {
  width: var(--sidebar);
}

.searchUser {
  justify-content: space-between;
}

.search {
  display: block;
}

.search-reports {
  border: 0;
  padding: 9px 50px;
  background-repeat: no-repeat;
  background-position: 1em 50%;
}

.user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-self: flex-end;
  gap: 1.5em;
}

.hamburger {
  display: none;
}

.search input[type='text'] {
  background-color: #f3f3f4;
}

.graphReferral {
  flex-direction: column;
  flex: 1;
}

.referral__form {
  padding: 96px 50px;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.top-menu--visible {
  display: flex;
  position: sticky;
}

.top-menu--accordian {
  height: calc(var(--top-menu-height) + 3em);
}

.top-menu--visible a {
  color: white;
}

.menu__items {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: var(--top-nav-height);
  gap: 1.5em;
  padding-top: 1.5em;
}

.menu__link-container {
  display: flex;
  padding-left: 3.125em;
  gap: 0.5em;
}

.menu__link-container:last-child:before {
  padding-top: 1.75em;
  content: '';
  position: absolute;
  left: 50%;
  margin-left: -50px;
  bottom: 0;
  width: 100px;
  border-top: 1px solid #d0cbf0;
}

.top-menu__link-container {
  display: flex;
  gap: 0.5em;
}

.reports-generated {
  height: 123px;
  background-color: #190781;
  position: sticky;
  margin: 0 1em 1em;
  border: 0;
  border-radius: 5px;
  padding: 1em;
}

.reports-generated h1 {
  font-weight: 700;
  font-size: 1em;
  color: white;
}

.reports-generated p {
  font-weight: 400;
  font-size: 0.75em;
  color: #bfb4f9;
}

.bot-sidebar-marker {
  position: absolute;
  bottom: 0;
  right: 0;
}

.table th {
  top: calc(
    var(--top-nav-height) + var(--top-menu-height) + 3em
  ); /* Don't forget this, required for the stickiness */
}
